<main>
  <h1>{{ title }} 2</h1>

  <nav>
    <ul>
      <li>
        <a routerLink="./try-one" routerLinkActive="st-active">Try One</a>
      </li>
      <li>
        <a routerLink="./try-two" routerLinkActive="st-active">Try Two</a>
      </li>
      <li>
        <a routerLink="./try-three" routerLinkActive="st-active">Try Three</a>
      </li>
      <li>
        <a routerLink="./try-final" routerLinkActive="st-active">Try Final</a>
      </li>
      <li>
        <a routerLink="./assignment" routerLinkActive="st-active">Assignment</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</main>
